article {
  position:relative;
  text-align:justify;

  aside {
    position:absolute;
    right:$page-width + 1em;
    width:15em;
    margin-top: $init-margin-top;
    text-align:right;
  }

  @media (max-width: 1200px) {
    aside {
      position:relative;
      width:100%;
      right:0;
      text-align:left;
    }
  }

  img {
    max-width:100%;
    max-height:40em;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  code {
    color:$purple-dark;
    background-color:#EEE;
    padding: 0 0.4em;
    border-radius:3px;
  }

  hr {
    border: none;
    border-bottom: 3px solid #aac6e0;
    width: 20%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family:$brandon-grotesque;
  font-weight:500;
}

h1 {
  font-size:1.5em;
}

h2 {
  font-size:1.25em;
}

p, ul, blockquote, img {
  margin:1.75em 0;
}

blockquote {
  border-left: 0.5em solid lighten($blue, 20%);
  background-color:rgba($blue, 0.1);
  padding:0 2em;
  overflow:hidden;

  p:first-of-type {
    margin-top:1em;
  }

  p:last-of-type {
    margin-bottom:1em;
  }
}

.caption {
  font-size:smaller;
}

.separator {
  border:0;
  border-bottom:1px dotted rgba($blue, 0.5);
  margin-bottom:4em;

  &:last-child {
    margin-bottom:unset;
  }
}

.twitter-tweet {
  margin:0 auto;
}