article {
  position:relative;
  text-align:justify;

  h1 + p, > p:first-of-type {
    margin-top:0.5em;
  }

  aside {
    position:absolute;
    right:$page-width + 1em;
    width:15em;
    margin-top: $init-margin-top;
    text-align:right;
  }

  @media (max-width: 1200px) {
    aside {
      position:relative;
      width:100%;
      right:0;
      text-align:left;
    }
  }

  img {
    max-width:100%;
  }

  code {
    color:darken($red, 10%);
    background-color:#EEE;
    padding: 0 0.4em;
    border-radius:3px;
  }

  hr {
    border: none;
    border-bottom: 3px solid #aac6e0;
    width: 20%;
  }
}

.caption {
  font-size:smaller;
}

.separator {
  border:0;
  border-bottom:1px dotted rgba($blue, 0.5);
  margin-bottom:4em;

  &:last-child {
    margin-bottom:unset;
  }
}


