@import url("https://use.typekit.net/mqu3ovh.css");

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-BoldItalic.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-BoldItalic.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-ThinItalic.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-ThinItalic.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-RegularItalic.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-Light.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-Light.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-Thin.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-Thin.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-Medium.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-MediumItalic.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-MediumItalic.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-LightItalic.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-LightItalic.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-Black.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-Regular.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-BlackItalic.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-BlackItalic.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../typefaces/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../typefaces/BrandonGrotesque-Bold.woff') format('woff'),
        url('../typefaces/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Colors
$purple: #8447b6;
$purple-dark: darken($purple, 20%);
$blue:#6093c4;
$white: #FFF;
$black: #444;
$light-black: lighten($black, 50%);

// Fonts
$brandon-grotesque: "Brandon Grotesque", sans-serif;
$skolar: "skolar-latin", serif;

// Spacings
$init-margin-top:0.5em;
$page-width:44em; // 704px at 16px body
