header {
  display:flex;
  justify-content: space-between;
  align-items:baseline;
  line-height: 3em;
}

#slightly-less-weighted {
  font-weight:400;
  color:lighten($black, 10%);

  @media(prefers-color-scheme: dark) {
    color:$white;
  }
}

nav {

  ul {
    list-style-type:none;
    padding:0;
    margin:0;
  }

  li {
    display:inline-block;
  }

  a {
    margin-left:1em;
    padding:0.25em;
    color: $grey !important;

    &:hover {
      text-decoration:underline;
    }
  }

  li:last-child a {
    padding-right:0;
  }
}