html, body {
  margin:0;
  padding:0;
}

html:before {
  content:"";
  width:100%;
  height:1em;
  background-image: linear-gradient(90deg, $red 20%, $blue 80%);
  display:block;
}

html {
  min-height:100vh;
  background-color:$white;
}

body {
  max-width:$page-width;
  margin:0 auto;
  color:$black;
  font-family:$expo-serif;
  line-height: 1.7em;
  font-size:16px;

  @media (max-width: #{$page-width}) {
    padding:0 1em;
  }
}

.content {
  margin-top:3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family:$brandon-grotesque;
  font-weight:500;
  margin-bottom:0;
}

p, ul {
  margin:2em 0;
}

::selection {
  background:$red;
  color:$white;
}

::moz-selection {
  background:$red;
  color:$white;
}