html, body {
  margin:0;
  padding:0;
}

html:before {
  content:"";
  width:100%;
  height:1em;
  background-image: linear-gradient(90deg, $purple 20%, $blue 80%);
  display:block;
}

html {
  min-height:100vh;
  background-color:$white;
}

body {
  max-width:$page-width;
  margin:0 auto;
  color:$black;
  font-family: $skolar;
  line-height: 1.7em;
  font-size:16px;

  @media (max-width: #{$page-width + 1em}) {
    max-width:100%;
    font-size:14px;
    padding:0 1em;
  }
}

.content {
  margin-top:3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family:$brandon-grotesque;
  font-weight:500;
  margin-bottom:0;
}

h1 {
  font-size:1.5em;
}

h2 {
  font-size:1.25em;
}

p, ul, blockquote {
  margin:2em 0;
}

blockquote {
  border-left: 0.5em solid lighten($blue, 20%);
  background-color:rgba($blue, 0.1);
  padding:0 2em;
  overflow:hidden;

  p:first-of-type {
    margin-top:1em;
  }

  p:last-of-type {
    margin-bottom:1em;
  }
}

::selection {
  background:$purple;
  color:$white;
}

::moz-selection {
  background:$purple;
  color:$white;
}